dataset/eye_cache/
dataset/closed-open-eyes/
dataset/eye_cache.csv
dataset/.DS_Store
Model/.DS_Store
.env
.DS_Store
Model/haarcascade_frontalface_default.xml
fatigue_venv/
Model/archive/dataset_met_getallen.csv
Model/archive/fatigue_model.pth
dataset/yawn-no-yawn
Model/eyes/fatigue_model_complete.pth
.gitignore
Model/yawn/yawn_model.pth
Model/eyes/dataset_met_getallen.csv
Model/eyes/fatigue_model.pth
Model/eyes/haarcascade_frontalface_default.xml
dataset/eyecache
dataset/eyecache
dataset/my_eye_finetune
dataset/my_eye_finetune_cache
Model/eyes/fatigue_model_finetuned.pth
dataset/my_yawn_finetune
Model/yawn/yawn_model_finetuned.pth
documentation/Nodige-dinge.md
documentation/downloadingthedataset.ipynb 